<div class="container-fluid bg-primary">
    <div class="container">
        <div class="row pt-1">
            <div class="col-12"></div>
        </div>
<!-- CAROUSEL -->
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner container-narrow mx-auto">
            <div class="carousel-item active">
                <div class="d-flex align-items-row">
                <img class="img-thumbnail rounded-circle w-25X" 
                src="assets\img\IMG_1224.jpg" alt="First slide" style="transform:rotate(90deg)">
                </div>
                <div class="carousel-caption d-none d-md-block text-white">
                        <h3>RL Glover</h3>
                        <p>Founder, Chief Lead Consultant</p>
                      </div>
             
            </div>
            <div class="carousel-item">
                    <div class="d-flex align-items-row">
                    <img class="img-thumbnail rounded-circle w-25X" 
                    src="assets\img\IMG_1001.jpg" alt="Second slide"  style="transform:rotate(90deg)" pr-5>
                    </div>
                    <div class="carousel-caption d-none d-md-block text-white">
                            <h3>Lynn Glover</h3>
                            <p>Vice President, Financial Management</p>
                          </div>
              
            </div>
            <div class="carousel-item ">
                    <div class="d-flex align-items-row">
                    <img class="img-thumbnail rounded-circle w-25X"
                    src="assets\img\IMG_1092.jpg" alt="Third slide" style="transform:rotate(90deg)">
                    </div>
                    <div class="carousel-caption d-none d-md-block text-white ">
                            <h3>Jordan Thomas Glover</h3>
                            <p>Vice President, Human Resources & Diversity</p>
                    </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      
    </div>
<!-- END CAROUSEL -->
            </div>
        </div>
    </div>
</div> 







<!-- <div class="container-fluid bg-warning pt-5 pb-5">
    <div class="container mt-5 bg-warning">
        <blockquote class="blockquote text-center">
            <img class="rounded-circle" 
             src="assets\img\IMG_1224.jpg" width="140"  height="125" style="transform:rotate(90deg)">
            <p class="mt-3 mb-0">"We cannot solve our problems with the same thinking we used to create them." - Albert Einstein</p>
            <footer class="blockquote-footer">RL Glover <cite title="Source Title">Principle, Lead Consultant</cite></footer>
        </blockquote>
    </div>           
</div>
{% include share-bar.html %} -->